* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.td {
  width: 80%;
  display: block;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem;
  background-color: #eeee;
  border: 1px solid transparent;
}

#search {
  width: 269px;
  height: 22px;
}

.ana {
  margin: 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  text-align: center;
  background-color: rgba(194, 194, 194, 0.171);
}

.block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1px;
}
